/plugins/NubixCore/nubix.db
server.properties
pocketmine.yml
ops.txt
/bin
/crashdumps
/players
archive.tgz
banned-cids.txt
banned-ips.txt
banned-players.txt
ops.txt
server.lock
SLE.yml
white-list.txt
/resource_packs
/scripts
/timings
/worlds